<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apee Generator {% block title %}{% endblock %}</title>
    {% stylesheets
        'bundles/apee/css/bootstrap.min.css'
        'bundles/apee/css/font-awesome.min.css'
        'bundles/apee/css/app.min.css'
        filter='cssrewrite,?yui_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <!-- HTML5 shim IE8 support for HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="bundles/apee/css/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    {% include 'ApeeBundle:Common:header.html.twig' %}
    {% if app.user and app.request.get('_route') != 'apee_homepage' %}
        {% include 'ApeeBundle:Common:left_menu.html.twig' %}
    {% endif %}
    <div class="content-wrap">
        <div class="container-fluid bottom-30">
            <br><br><br><br>
            {% block fos_user_content %}
            {% endblock fos_user_content %}

            {% block apee_content %}
            {% endblock apee_content %}

            {% include 'ApeeBundle:Common:footer.html.twig' %}
        </div>
    </div>
    {% include 'ApeeBundle:Common:load_js.html.twig' %}
</body>
</html>