{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Data Model - Browse Data{% endblock %}
{% block apee_content %}
    {% set objects_count = dataObjects|length %}
    <h3>{{ dataModel.name }}</h3>
    {% include 'ApeeBundle:Common:tabs.html.twig' %}
    <div class="tab-content top-10">
        <div class="tab-pane fade-in active">
            <p>
                {% transchoice objects_count %}
                {0} There is no objects found for this Data Model !|{1} There is one Object for this Data Model  !|]1,Inf] There are <span class="label label-info">%count%</span> Objects for this Data Model  !
                {% endtranschoice %}
            </p>
            {% if objects_count > 0 %}
                {% set inc = 0 %}
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">ID</th>
                            {% for attr in dataObjects.0.dataModel.dataModelAttribute %}
                                <th>{{ attr | capitalize }}</th>
                                {% set inc = inc + 1 %}
                            {% endfor %}
                            <th class="col-md-1">Edit</th>
                            <th class="col-md-1">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, object in dataObjects %}
                        <tr>
                            <td title="{{ object.id }}">#{{ key+1 }}</td>
                            {% for k in 0..inc-1 %}
                                {% if object.dataObjectAttributesValue.toArray[k] is defined %}
                                    {% set obj = object.dataObjectAttributesValue.toArray[k] %}
                                    <td>{{ obj.value }} </td>
                                {% else %}
                                    <td>~</td>
                                {% endif %}
                            {% endfor %}
                            <td><a href=""><span class="fa fa-edit"></span></a></td>
                            <td><a class="ob_remove" href=""><span class="fa fa-remove"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Object Data Empty !</p>
            {% endif %}
        </div>
    </div>
{% endblock %}