{% extends 'ApeeBundle::layout.html.twig' %}

{% block page_title %}Add Data{% endblock %}

{% block apee_content %}
    <h2>{{ dataModel.name }}</h2>

    <div class="tab_widget" id="tabwidget-1">
        {% include 'ApeeBundle:Common:tabs.html.twig' %}
        <div class="tab_container">
            <div id="tab-tab2" class="tab_content clearfix">
                <blockquote>
                <p>
                    Import CSV
                </p>
                </blockquote>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>

        </div>

    </div>

{% endblock %}
