{% extends 'ApeeBundle::layout.html.twig' %}

{% block page_title %}Add Data{% endblock %}

{% block apee_content %}
    <h2>{{ dataModel.name }}</h2>

    <div class="tab_widget" id="tabwidget-1">
        {% include 'ApeeBundle:Common:tabs.html.twig' %}
        <div class="tab_container">
            <div id="tab-tab2" class="tab_content clearfix">
                <blockquote>
                    <p>
                        Mapping your CSV fields with your Data Model Attributes
                    </p>
                </blockquote>
                <form action="" method="post" name="mapping_csv_form">
                    <table class="table">
                        {% for attribute in dataModelAttributes %}
                            <tr>
                                <th>
                                    {{ attribute.name | capitalize}}
                                    <input type="hidden" name="model_attribute[]" value="{{ attribute.id }}"/>
                                </th>
                                <td>
                                    <select name="csv_fields_{{ attribute.id }}" id="">
                                        {% for file_attribute in csvFileFields %}
                                            <option value="{{ loop.index0 }}">Column {{ loop.index }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <input type="submit" class="simple-button inverse" name="submitBtn" value="Validate"/>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
