{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Data Model - Import CSV File{% endblock %}
{% block apee_content %}
    <h3>{{ dataModel.name }}</h3>
    {% include 'ApeeBundle:Common:tabs.html.twig' %}
    <div class="tab-content top-10">
        <div class="tab-pane fade-in active">
            {{ form_start(form, {'attr': {'novalidate':''}}) }}
            <fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
        <div class="top-20">
            <a href="{{ path('data_model_edit', {'id':dataModel.id}) }}" class="btn btn-info btn-large"><i class="fa fa-edit"></i> Save</a>
            <a href="{{ path('data_model_list') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
    </div>
{% endblock %}
