{% extends 'ApeeBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <form class="form-horizontal" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="post">
        <fieldset>
            <legend>Update Account</legend>
            {% include 'ApeeBundle:Common:notifications.html.twig' %}
            <p>* Required Fields !</p>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.username, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.country, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group top-20">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> {{ 'profile.edit.submit'|trans }}</button>
                    <a href="{{ path('webservice_list') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
    </form>
{% endblock fos_user_content %}