{% trans_default_domain 'FOSUserBundle' %}
{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Sign Up{% endblock %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form class="form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post">
                <fieldset>
                    <div class="form-group">
                        <legend>Sign Up</legend>
                    </div>
                    {% if not form.vars.valid %}
                        <div class="form-group">
                            <p class="bg-danger">
                                {{ form_errors(form.username)|striptags|raw }}
                                {{ form_errors(form.email)|striptags|raw }}
                                {{ form_errors(form.plainPassword.first)|striptags|raw }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form_label(form.username, 'Username', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, 'Password', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, 'Password confirm', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group top-20">
                        <a href="{{ path('apee_homepage') }}" class="btn btn-warning btn-large"><i class="fa fa-arrow-left"></i> Back</a>
                        <button type="submit" name="_submit" class="btn btn-success fl-right"><i class="fa fa-key"></i> {{ 'registration.submit'|trans }}</button>
                    </div>
                    <input type="hidden" name="_csrf_token" value="" />
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}