{% extends 'ApeeBundle::layout.html.twig' %}

{% block title %} - Data Models{% endblock %}

{% block apee_content %}
        <div class="sixteen columns">
            <div class="five-plus columns">
                <div class="large-notice">
                    <fieldset class="fixed-height">
                        {% for dataModel in dataModels %}
                            <label>{{ dataModel.name }} </label> (<a href="{{ path('webservice_datModel_add',{'id':dataModel.id}) }}">Add Data</a>)
                        {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>
{% endblock %}
