{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Web Service - Edit {{ webService.title }}{% endblock %}
{% block apee_content %}
    <form class="form-horizontal" action="{{ path('webservice_edit', {'id': webService.id}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>Edit Web Service "{{ webService.title }}"</legend>
            <p>* Required Fields !</p>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.title, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.dataModel, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.dataModel, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group top-20">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update</button>
                    <a href="{{ path('webservice_list') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
    </form>
{% endblock %}