{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Web Services{% endblock %}
{% block apee_content %}
    {% if webServices|length > 0 %}
        <h3>Web Services</h3>
        <hr>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-4">Description</th>
                <th class="col-md-1">Data Attributes</th>
                <th class="col-md-1">Edit</th>
                <th class="col-md-1">Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for webService in webServices %}
                    <tr>
                        <td><a href="{{ path('webservice_view',{'id':webService.id}) }}">{{ webService.title }}</a></td>
                        <td>{{ webService.description|length > 75 ? webService.description|slice(0, 75) ~ '...' : webService.description }}</td>
                        <td>{{ webService.dataModel is not null ? webService.dataModel|length : 0 }}</td>
                        <td><a href="{{ path('webservice_edit', {'id':webService.id}) }}"><span class="fa fa-edit"></span></a></td>
                        <td><a class="ws_remove" href="{{ path('webservice_remove', {'id':webService.id}) }}"><span class="fa fa-remove"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Web service list empty !</p>
    {% endif %}
    <a href="{{ path('webservice_new') }}" class="btn btn-info btn-large"><i class="fa fa-plus"></i> New Web Service</a>
{% endblock %}