{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Web Services - Edit {{ webService.title }}{% endblock %}
{% block apee_content %}
    <h1>{{ webService.title }}</h1>
    <hr>
    <h3>Description</h3>
    <p>{{ webService.description }}</p>
    {% if webService.dataModel is defined  %}
        <h3>Data Model</h3>
        <p>{{ webService.dataModel.name }}</p>
        <small>{{ webService.dataModel.description }}</small>

        <h3>Attributes</h3>
        {% if webService.dataModel.dataModelAttribute|length > 0 %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-md-1">ID</th>
                    <th class="col-md-2">Attribute Name</th>
                    <th class="col-md-2">Attribute Default Value</th>
                    <th class="col-md-2">Attribute Type</th>
                    <th class="col-md-1">Required</th>
                </tr>
                </thead>
                <tbody>
                {% for attribute in webService.dataModel.dataModelAttribute %}
                    <tr>
                        <td>#{{ loop.index }}</td>
                        <td>{{ attribute.name }}</td>
                        <td>{{ attribute.defaultValue }}</td>
                        <td>{{ attribute.dataModelAttributeType.type }}</td>
                        <td>{% if attribute.required %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Attribute list empty !</p>
        {% endif %}
        <h3>API Request</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-md-1">Name</th>
                <th class="col-md-4">Request Url</th>
                <th class="col-md-1">Method</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Get One Object</td>
                    <td><i>{{ app.request.host }}/api/v1/objects/{object_id}.json</i></td>
                    <td>GET</td>
                </tr>
                <tr>
                    <td>Get Objects List</td>
                    <td><i>{{ app.request.host }}/api/v1/objects/{{ webService.id }}/list.json</i></td>
                    <td>GET</td>
                </tr>
                <tr>
                    <td>Add Object</td>
                    <td><i>{{ app.request.host }}/api/v1/webservices/{{ webService.id }}.json</i></td>
                    <td>POST</td>
                </tr>
                <tr>
                    <td>Update Object</td>
                    <td><i>{{ app.request.host }}/api/v1/webservices/{{ webService.id }}/objects/{object_id}.json</i></td>
                    <td>PUT</td>
                </tr>
                <tr>
                    <td>Delete Object</td>
                    <td><i>{{ app.request.host }}/api/v1/objects/{object_id}.json</i></td>
                    <td>DELETE</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    <div class="top-20">
        <a href="{{ path('webservice_edit', {'id':webService.id}) }}" class="btn btn-info btn-large"><i class="fa fa-edit"></i> Edit</a>
        <a href="{{ path('webservice_remove', {'id':webService.id}) }}" class="btn btn-danger btn-large"><i class="fa fa-remove"></i> Remove</a>
        <a href="{{ path('webservice_list') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
{% endblock %}