{% trans_default_domain 'FOSUserBundle' %}
{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Sign In{% endblock %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form class="form-horizontal" action="{{ path('fos_user_security_check') }}" method="post">
                <fieldset>
                    <div class="form-group">
                        <legend>Sign In</legend>
                    </div>
                    {% if error %}
                        <div class="form-group">
                            <p class="bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" class="form-control" />
                        <small><a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.lost_password'|trans }}</a></small>
                    </div>
                    <div class="form-group top-20">
                        <a href="{{ path('apee_homepage') }}" class="btn btn-warning btn-large"><i class="fa fa-arrow-left"></i> Back</a>
                        <button type="submit" name="_submit" class="btn btn-success fl-right"><i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}