<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="btn btn-default navbar-btn apee-toggle" type="button"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand" href="{{ path('apee_homepage') }}">Apee !</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="collapse1" aria-expanded="true">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li><a href="{{ path('provider_view_profile') }}" title="Your last connection was {{ app.user.lastLogin.date|date('d M') }}"><i class="fa fa-user"></i> Hi <b>{{ (app.user.firstName == '' ? app.user.username : app.user.firstName)|capitalize }}</b></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}" style="color: white; background: #d9534f"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> Sign In</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}" style="color: white; background: #4cae4c"><i class="fa fa-key"></i> Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>