<!--
  apee Sidebar
  Options [you can use all of theme classnames]:
    .apee-hide-to-small         - no hide menu, just set it small with big icons
    .apee-static                - stop using fixed sidebar (will scroll with content)
    .apee-gestures              - to show and hide menu using gesture swipes
    .apee-light                 - light color scheme
    .apee-hide-on-content-click - hide menu on content click

  Effects [you can use one of these classnames]:
    .apee-overlay  - overlay content
    .apee-push     - push content to right
    .apee-shrink   - shrink content width
-->
{% set req = app.request.get('_route') %}
<div class="apeebar apee-hide-to-small apee-shrink apee-gestures">
    <div class="nano">
        <div class="nano-content" tabindex="0">
            <ul>
                <li class="label">Menu</li>
                <li{% if req == 'provider_dashboard' %} class="active"{% endif %}>
                    <a href="{{ path('provider_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard </a>
                </li>
                <li{% if req matches '(data_model*|data_object*)' %} class="active"{% endif %}>
                    <a href="{{ path('data_model_list') }}"><i class="fa fa-indent"></i> Data Models<span class="badge">5</span></a>
                </li>
                <li{% if req starts with 'webservice' %} class="active"{% endif %}>
                    <a href="{{ path('webservice_list') }}"><i class="fa fa-cubes"></i> Web Services</a>
                </li>
                <li class="label">User Settings</li>
                <li{% if req == 'provider_edit_profile' %} class="active"{% endif %}>
                    <a href="{{ path('provider_edit_profile') }}"><i class="fa fa-cogs"></i> Edit account</a>
                </li>
                <li{% if req == 'provider_view_profile' %} class="active"{% endif %}>
                    <a href="{{ path('provider_view_profile') }}"><i class="fa fa-sign-out"></i> View profile</a>
                </li>
                <li{% if req == 'fos_user_change_password' %} class="active"{% endif %}>
                    <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-child"></i> Change password</a>
                </li>
                <li class="label">App Settings</li>
                <li>
                    <a class="apee-sub-toggle"><i class="fa fa-check-square-o"></i> Forms<span class="apee-collapse-icon fa fa-angle-down"></span></a>
                </li>
                <li>
                    <a class="apee-sub-toggle"><i class="fa fa-gears"></i> Parameters<span class="apee-collapse-icon fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="#">General Settings </a>
                        </li>
                        <li><a href="#">Manage Users</a>
                        </li>
                        <li><a href="#">Manage Data</a>
                        </li>
                    </ul>
                </li>
                <li class="label">Stats</li>
                <li class="content">
                    <span><i class="fa fa-spinner"></i> Query Load</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60%</span>
                        </div>
                    </div>

                    <span><i class="fa fa-thumbs-o-up"></i> User Satisfaction</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">90% Complete (success)</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nano-pane" style="display: block;">
            <div class="nano-slider" style="height: 373px; transform: translate(0px, 0px);"></div>
        </div>
    </div>
</div>