{% javascripts
    'bundles/apee/js/jquery.min.js'
    'bundles/apee/js/bootstrap.min.js'
    'bundles/apee/js/jquery.nanoscroller.min.js'
    'bundles/apee/js/app.min.js'
    filter='?yui_js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}