{% if form is defined %}
    {% spaceless %}
        {% set childError = [] %}
        {% set b = false %}
        {% for child in form.children %}
            {% if child.vars.errors is defined and child.vars.errors|length > 0 %}
                {% set childError = childError|merge(child.vars.errors) %}
            {% endif %}
        {% endfor %}

        {% if form.plainPassword.first is defined and form.plainPassword.first.vars.errors|length > 0 %}
            {% set b = 'true' %}
        {% endif %}
        {% if childError|length > 0  or b == true or ( form.vars['errors'] is defined and form.vars['errors']|length > 0 ) %}
            <div class="alert alert-danger closeable">
                {% for err in childError %}
                    {{ err.message }}
                {% endfor %}

                {% if form.plainPassword.first is defined %}
                    {{ form_errors(form.plainPassword.first) }}
                {% endif %}

                {% for error in form.vars['errors'] %}
                    {{ error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
        {% endif %}
    {% endspaceless %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info closeable">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger closeable">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success closeable">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
{% endfor %}