<ul class="nav nav-tabs">
    <li {% if app.request.get('_route') ==  'data_model_view' %}class="active"{% endif %}>
        <a href="{{ path('data_model_view',{'id': dataModel.id}) }}">
            Attributes
        </a>
    </li>
    <li {% if app.request.get('_route') == 'data_object_browse' %}class="active"{% endif %}>
        <a href="{{ path('data_object_browse',{'id': dataModel.id}) }}">
            Browse Data
        </a>
    </li>
    <li {% if app.request.get('_route') == 'data_object_add_manually' %}class="active"{% endif %}>
        <a href="{{ path('data_object_add_manually',{'id': dataModel.id}) }}">
            Insert Data Manually
        </a>
    </li>
    <li {% if app.request.get('_route') in ['data_object_upload_csv','data_object_import_csv','data_object_mapping_csv'] %}class="active"{% endif %}>
        <a href="{{ path('data_object_upload_csv',{'id': dataModel.id}) }}">
            Import CSV File
        </a>
    </li>
</ul>