{% extends 'ApeeBundle::layout.html.twig' %}
{% block apee_content %}
    <h2>Apee Generator</h2>
    <p class="lead bottom-30">Application Element Equipment is an advanced WebService Generator besed on Symfony2 and MongoDB ! <br>
        The interface is mobile-friendly with swipe gestures support and responsive design. Off-canvas navigation well suited for admin dashboards.
    </p>
    <hr>
    <h3>Create your own API right now !</h3>
    <div class="chooseapeeOpts row top-30">
        <div class="col-md-4">
            <h4>Data Model</h4>
            <p>
                <code>Apee</code> phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.<br>
                Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.<br>
                Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.
            </p>
        </div>

        <div class="col-md-4">
            <h4>WebService</h4>
            <p>
                <code>Apee</code> Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.<br>
                Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.<br>
                Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            </p>
        </div>

        <div class="col-md-4">
            <h4>Parameters</h4>
            <p>
                <code>Apee</code> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.<br>
                Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
            </p>
        </div>
    </div>
    <button class="btn btn-primary apee-toggle top-30" type="button">Start !</button>
{% endblock %}