{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Account Settings{% endblock %}
{% block fos_user_content %}
    <form class="form-horizontal" action="{{ path('provider_edit_profile') }}" {{ form_enctype(form) }} method="post">
        <fieldset>
            <legend>Update Account</legend>
            {% include 'ApeeBundle:Common:notifications.html.twig' %}
            <p>* Required Fields !</p>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.firstname, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.lastname, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.company, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.company, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.location, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group top-20">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Update profile</button>
                    <a href="{{ path('provider_dashboard') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
    </form>
{% endblock %}