{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - {{ user.firstname|capitalize }}{% endblock %}
{% block fos_user_content %}
    <fieldset>
        <legend>{{ user.firstname|capitalize }}'s account</legend>
        <div class="form-group">
            <div class="col-md-12">
                Firstname : {{ user.firstname }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                Lastname : {{ user.lastname }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                Email : {{ user.email }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                Company : {{ user.company }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                Location : {{ user.location }}
            </div>
        </div>
        <div class="form-group top-20">
            <div class="col-md-12">
                <a href="{{ path('provider_edit_profile') }}" class="btn btn-success"><i class="fa fa-edit"></i> Edit profile</a>
                <a href="{{ path('provider_dashboard') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </fieldset>
{% endblock %}