{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Edit DataModel {{ dataModel.name }}{% endblock %}
{% block apee_content %}
    {% form_theme form.tags 'ApeeBundle:Form:fields_tag.html.twig' %}
    <form class="form-horizontal" action="{{ path('data_model_edit', {id: dataModel.id}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>Edit Web Service "{{ dataModel.name }}"</legend>
            <p>* Required Fields !</p>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <p><b>Tags</b></p>
                    {% if dataModel is not null %}
                        {% for dtTag in dataModel.tags %}
                            <span class="label label-default">{{ dtTag.name }}</span>
                        {% endfor %}
                    {% endif %}
                    <ul class="tags top-10" data-prototype="{{ form_row(form.tags.vars.prototype)|e }}">
                        {% for dtTagField in form.tags %}
                            {{ form_row(dtTagField.name, {"type":"hidden"}) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <p><b>Attributes</b></p>
                    <ul class="data-model-ul" data-prototype="{{ form_widget(form.dataModelAttribute.vars.prototype)|e }}">
                        {% for dtAttribute in form.dataModelAttribute %}
                            <li>
                                {{ form_row(dtAttribute.name) }}
                                {{ form_row(dtAttribute.defaultValue) }}
                                {{ form_row(dtAttribute.required) }}
                                {{ form_row(dtAttribute.dataModelAttributeType) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="form-group top-20">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Update Data</button>
                    <a href="{{ path('data_model_list') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
    </form>
{% endblock %}