{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Data Models{% endblock %}
{% block apee_content %}
    {% if dataModels|length > 0 %}
        <h3>Web Services</h3>
        <hr>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-4">Description</th>
                <th class="col-md-1">Object Count</th>
                <th class="col-md-1">Edit</th>
                <th class="col-md-1">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for dataModel in dataModels %}
                <tr>
                    <td><a href="{{ path('data_model_view', {'id':dataModel.id}) }}">{{ dataModel.name }}</a></td>
                    <td>{{ dataModel.description|length > 75 ? dataModel.description|slice(0, 75) ~ '...' : dataModel.description }}</td>
                    <td>{{ dataModel.dataObjects.count }}</td>
                    <td><a href="{{ path('data_model_edit',{'id':dataModel.id}) }}"><span class="fa fa-edit"></span></a></td>
                    <td><a class="dm_remove" href="{{ path('data_model_remove', {'id':dataModel.id}) }}"><span class="fa fa-remove"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Data Model list empty !</p>
    {% endif %}
    <a href="{{ path('data_model_new') }}" class="btn btn-info btn-large"><i class="fa fa-plus"></i> New Data Model</a>
{% endblock %}
