{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - New DataModel{% endblock %}
{% block apee_content %}
    {% form_theme form.tags 'ApeeBundle:Form:fields.html.twig' %}
    <form class="form-horizontal" action="{{ path('data_model_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>New Data Model</legend>
            <p>* Required Fields !</p>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <b>Tags</b>
                    <ul class="tags" data-prototype="{{ form_row(form.tags.vars.prototype)|e }}"></ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <b>Attributes</b>
                    <ul class="data-model-ul" data-prototype="{{ form_widget(form.dataModelAttribute.vars.prototype)|e }}"></ul>
                </div>
            </div>
            <div class="form-group top-20">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Create</button>
                    <a href="{{ path('data_model_list') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
    </form>
{% endblock %}