{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Data Models - Edit {{ dataModel.name }}{% endblock %}
{% block apee_content %}
    <h1>{{ dataModel.name }}</h1>
    <hr>
    {% include 'ApeeBundle:Common:tabs.html.twig' %}
    <div class="tab-content">
        <div class="tab-pane fade in {% if app.request.get('_route') == 'data_model_view' %} active{% endif %}">
            <p>{{ dump(dataModel.dataModelAttribute) }}</p>
        </div>
    </div>
    <h3>Description</h3>
    <p>{{ dataModel.description }}</p>

    <h3>Attributes</h3>
    {% if dataModel.dataModelAttribute|length > 0 %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-md-1">ID</th>
                <th class="col-md-2">Attribute Name</th>
                <th class="col-md-2">Attribute Default Value</th>
                <th class="col-md-2">Attribute Type</th>
                <th class="col-md-1">Required</th>
            </tr>
            </thead>
            <tbody>
            {% for attribute in dataModel.dataModelAttribute %}
                <tr>
                    <td>#{{ attribute.id }}</td>
                    <td>{{ attribute.name }}</td>
                    <td>{{ attribute.defaultValue }}</td>
                    <td>{{ attribute.dataModelAttributeType.type }}</td>
                    <td>{% if attribute.required %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>DataModel list empty !</p>
    {% endif %}
    <div class="top-20">
        <a href="{{ path('data_model_edit', {'id':dataModel.id}) }}" class="btn btn-info btn-large"><i class="fa fa-edit"></i> Edit</a>
        <a href="{{ path('data_model_remove', {'id':dataModel.id}) }}" class="btn btn-danger btn-large"><i class="fa fa-remove"></i> Remove</a>
        <a href="{{ path('data_model_list') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
{% endblock  %}
