{% trans_default_domain 'FOSUserBundle' %}
{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Password Settings{% endblock %}
{% block fos_user_content %}
    <form class="form-horizontal" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="post">
        <fieldset>
            <legend>Update Password</legend>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.current_password, 'Current password', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control input-md'}}) }}
                    <small class="help-block">You must provide your old password to change it.</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.plainPassword.first, 'New password', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-md'}}) }}
                    <small class="help-block">Password must have 8 characters at least.</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.plainPassword.second, 'Retype password', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-md'}}) }}
                </div>
            </div>
            <div class="form-group top-20">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Update profile</button>
                    <a href="{{ path('provider_dashboard') }}" class="btn btn-warning btn-large fl-right"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
    </form>
{% endblock %}
