{% extends 'ApeeBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Great !</h1>
            <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
        </div>
    </div>
{% endblock fos_user_content %}