{% trans_default_domain 'FOSUserBundle' %}
{% extends 'ApeeBundle::layout.html.twig' %}
{% block title %} - Forget password{% endblock %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form class="form-horizontal" action="{{ path('fos_user_resetting_send_email') }}" method="post">
                <fieldset>
                    <div class="form-group">
                        <legend>Forget password</legend>
                    </div>
                    {% if invalid_username is defined %}
                        <div class="form-group">
                            <p class="bg-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" required="required" class="form-control" />
                    </div>
                    <div class="form-group top-20">
                        <a href="{{ path('apee_homepage') }}" class="btn btn-warning btn-large"><i class="fa fa-arrow-left"></i> Back</a>
                        <button type="submit" name="_submit" class="btn btn-success fl-right"><i class="fa fa-ambulance"></i> {{ 'resetting.request.submit'|trans }}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
