{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        {{ form_widget(form) }}
        <div>
            <button class="simple-button inverse" type="submit">{{ 'resetting.reset.submit'|trans }}</button>
        </div>
    </form>
{% endblock fos_user_content %}
